$logo-dark: #131a22;
$logo-primary: #febd69;
$logo-dark-accent: #232f3e;
$logo-light-accent: #37475a;
$white: #cccccc;
$highlight: yellow;

$blue: #007185;
$orange: #c7511f;

$colors: (
  "dark": $logo-dark,
  "primary": $logo-primary,
  "dark-accent": $logo-dark-accent,
  "light-accent": $logo-light-accent,
  "white": $white,
  "highlight": $highlight,
);

@each $class, $color in $colors {
  .bg-#{$class} {
    background-color: $color;
  }
}

.btn {
  @each $class, $color in $colors {
    &.btn-#{$class} {
      background-color: $color;
      border-color: $color;
    }
  }
  &.btn-block {
    display: block;
  }
}

body {
  background-color: $white;
}

a {
  text-decoration: none;
  color: $blue;
  &:hover,
  &:active {
    color: $orange;
  }
}

.amzn-card {
  border-radius: 0;
  border: 0;
  padding: 0.75rem 0;
  .card-footer,
  .card-header {
    background-color: transparent;
    * {
      margin: 0;
    }
  }
  .card-footer {
    border-top: none;
  }
  .card-header {
    border-bottom: none;
  }

  .card-body{
    // padding: 1rem 1.5rem;
  }
}

nav.navbar {
  .bg-nav-sprite {
    background-image: url("../sprites/nav-sprite-global-1x.png");
    background-repeat: no-repeat;
    &.brand-logo {
      display: block;
      height: 40px;
      width: 120px;
      background-position: 0px -43px;
    }
  }
  .navbar-brand {
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $white;
      }
    }
  }
}
